body {
    font-family: 'Courier New', Courier, monospace;
    }
a:link, a:visited {
    color: blueviolet;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#wrap {
    width: 920px;
    margin: auto;
    background: ghostwhite;
    padding: 10px 20px;
}
header nav ul {
    list-style: none;
    padding-left: 0px;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    font-size: 18px;
    color:black;
    text-decoration: none;
}
header nav ul li a:hover  {
    text-decoration: underline;
}
#content{
    float: left;
    width: 660px;
}
#sidebar{
    float: right;
    width: 300px;
}
#sidebar ul {
    list-style: none;
}
footer {
    clear: both;
}