body {
    font-family: 'Courier New', Courier, monospace;
    margin: center;
    }
h1 {
    text-align: center
}

IMG.displayed {
    width: 200px;
    margin-left: 600px;
    margin-right: 600px; 
}
